# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*jpg
/untitled2/*
!/untitled2/scraying/
/untitled2/scraying/*
!/untitled2/scraying/scrayper/.gitkeep
!Csv_checker.py
!scrape_01.py
!image_scrape.py
!scrape_Test.py