# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
#*.swp
#*.jpg
#.DS_Store
/untitled2/*
!/untitled2/scraying/
/untitled2/scraying/*
!/untitled2/scraying/scrayper/
/untitled2/scraying/scrayper/*
!/untitled2/scraying/scrayper/Csv_checker.py
!/untitled2/scraying/scrayper/scrape_01.py
!/untitled2/scraying/scrayper/image_scrape.py
!/untitled2/scraying/scrayper/scrape_Test.py
