# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
image/*
plactice/
Rss/*
Urllib/*
books.db
download.py
filecmp_01.py
hbox_test.py
renti.png
